body {
  background-color: #FEE5A0 ;
  font-family: 'Afacad-Regular', sans-serif;

}
@font-face {
  font-family: 'Afacad-Regular';
  src: url('/fonts/Afacad-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Afacad-Bold';
  src: url('/fonts/Afacad-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Afacad-Medium';
  src: url('/fonts/Afacad-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Afacad-SemiBold';
  src: url('/fonts/Afacad-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

